.content section
{
    position: relative;
}

ul.container
{
    position: relative;
}

.content-section ul::before
{
    content:"";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    padding: 20px 0;
    width: 3px;
    height: 100%;
    background-color: #ccc;
}

ul.container li
{
    position: relative;
    margin-bottom: 30px;
    width: 50%;
    overflow: auto;
}

ul.container li:nth-child(even)
{
    margin-left: 50%;
}

li .box
{
    margin: 0px 100px;
    padding: 40px;
    line-height: 1.5;
}

.box h2
{
    letter-spacing: 4px;
    margin-bottom: 10px;
}

li .box .cate
{
    color: #999;
}

li .box span
{
    position: absolute;
    top: 30px;
    right: 150px;
    color: #ff014f;
    background: linear-gradient(145deg, #e2e8ec, #fff);
    box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.15);
    padding: 10px 20px;
    border-radius: 10px;
}

li .box hr
{
    margin-top: 10px;
    margin-bottom: 10px;
}

li .box:hover
{
    background-color: #333;
    color: #fff;
    transition: 0.4s;
}

li .box:hover .desc
{
    color: #ddd;
}

li .btn-shadow
{
    box-shadow: 4px 4px 8px rgba(0,0,0,0.1),
                -4px -4px 8px rgba(255, 255, 255, 1);
    background-color: #f0f4f8;
    border-radius: 15px;
}

.resume li::after
{
    content: "";
    position: absolute;
    top: 50%;
    width: 100px;
    height: 3px;
    background: #ccc;
}

li:nth-child(odd)::after
{
    right: 0;
}